/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Styles */
body {
  display: flex;
  flex-direction: column;
  background-image: url('/wallpaper.jpg');

  font-family: 'Comic Sans MS', cursive,
    sans-serif;
}

h1 {
  margin-bottom: 1em;
  text-align: center;
  font-size: 1.75rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1.5em;
  text-indent: 2em;
}

footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding-bottom: 48px;
  text-align: center;
  color: white;
}
footer span {
  background: hsl(234deg 54% 53%);
  padding: 8px 16px;
  border-radius: 1000px;
}

/* Scrollbar and selection styles */
::selection {
  background-color: var(
    --selection-background-color,
    hsl(50deg 100% 78%)
  );
  color: var(--selection-text-color, black);
}
